@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  padding-bottom: 2000px;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

.hero-section {
  height: 100vh;
  background-color: lightcoral;
}

header {
  background-color: lightblue;
  padding-top: 30px;
  margin-bottom: 50vh;
}

header > nav {
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
}

.header-left {
  font-size: 10vw;
  line-height: 150%;
}

.header-middle {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 5%;
}

.navigation a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.navigation > ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.header-middle h1 {
  margin-top: auto;
  font-size: 45px;
  font-weight: 600;
  line-height: 90%;
}

.header-right {
  display: flex;
  align-items: start;
  gap: 10px;
}

.header-right > a {
  background-color: black;
  padding: 9px 8px 0 8px;
  border: none;
  border-radius: 50%;
}

.header-right > a > img {
  padding: 5px;
}

.large-screen {
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
  font-weight: 600;
  font-size: 25px;
}

.btn-container button {
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: black;
}

.large-screen {
  margin-top: auto;
}

.medium-screen {
  display: none;
}
/* end of header section */

/* services section */

.services {
  padding: 150px 4%;
}

.services h1 {
  font-size: 45px;
  font-weight: 600;
  line-height: 120%;
}

.services hr {
  margin: 20px 0;
}

.service-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.service-item {
  flex: 1;
  border-radius: 15px;
  padding: 40px 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* end of service section */

/* flexible services */

.flexible-services h1 {
  height: 15vh;
  padding: 0 4%;
  font-size: 60px;
  font-weight: 600;
}

.flex-solution h2,
.flex-demand h2,
.flex-flight h2 {
  padding-bottom: 63vh;
}

.flex-service-container {
  display: flex;
}

.flex-solution,
.flex-demand,
.flex-flight {
  height: 85vh;
  flex: 1;
  padding: 2% 4%;
}

.flex-solution {
  background-image: url("/images/solution1.jpg");
  background-position: center;
  color: white;
}

.flex-demand {
  background-color: lightblue;
}

.flex-flight {
  background-color: lightpink;
}

/* end of flexible section */

/* experience section */

.experience-section {
  padding: 0 4%;
}

.experience-section h1 {
  margin-top: 4%;
  margin-bottom: 2%;
  font-size: 60px;
  font-weight: 600;
}

.experience-description {
  flex: 1;
}

.experience-description p {
  width: 300px;
}

.content-container {
  display: flex;
}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 30px;
}

.experience-item {
  flex: 1;
  min-width: 250px;
}

.icon-bg {
  flex: 1;
  height: 80px;
  width: 100px;
  border: dashed;
  border-width: 2px;
  border-color: rgb(139, 136, 136);
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4%;
}